<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.ling.blutoothlibrary">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	
	<uses-feature android:name="android.hardware.bluetooth.le"
				  android:required="true"/>

</manifest>
